body {
  font-family: Arial, Helvetica, sans-serif;
  background: cornflowerblue;
}

header {
  display: grid;
  color: white;
  border: solid 1px black;
  background: black;
}

main {
  display: grid;
  border: solid 1px black;
}