body {
  font-family: Arial, Helvetica, sans-serif;
  background: cornflowerblue;
}

header {
  display: grid;
  color: white;
  border: solid 1px black;
  background: black;
  font-style: italic;
}

main {
  display: grid;
  border: solid 1px black;
}

h1, h2, h3 { margin: 0;}

h2 {
  grid-row: 1/2;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {}

.user {
  grid-column: 1/2;
}

.dealer {
  grid-column: 2/3;
}

.money {
  grid-row: 2/3;
}

.total {
  grid-row: 3/4;
}

label {
  grid-row: 4/5;
}

input {
  grid-row: 5/6;
}